<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.escala.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.CadastroActivity" />
        <activity android:name=".view.ApresentacaoActivity" />
        <activity android:name=".view.EdicaoAtualActivity" />
        <activity android:name=".view.ApresentacaoRevistaActivity" />
        <activity android:name=".view.LerEdicaoMesActivity" />
        <activity android:name=".view.TelaEdicaoMesActivity" />
        <activity android:name=".view.AssineJaActivity" />
        <activity android:name=".view.CompreAppActivity" />
        <activity android:name=".view.SaudacaoActivity" />
        <activity android:name=".view.CupomDescontoActivity" />
        <activity android:name=".view.BaseActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.PdfViewActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".view.NoticacaoActivity" />
        <activity android:name=".view.NotificacaoActivity" />
        <activity android:name=".view.WebActivity" />
        <activity android:name=".view.AtendimentoLeitorActivity" />
        <activity android:name=".view.ContentSelectedCategoryActivity"></activity>
    </application>

</manifest>